@charset "UTF-8";
/* CSS Document */

* {
	font-family: 'Patua One', cursive;	
	text-align: center;
}

body {
	margin: 0;
}

a {
	cursor: pointer;
	color: black;
	text-decoration: none;
}

.button {
	display: none;
}

.section {
	background-image:url("../images/backgroundtwo.png");
	background-size: cover;
}

.logo {
    position: absolute; 
}

.social {
	align-self: center;
	width: 200px;
}

#optionone {
	background-color: rgba(219,219,219,0.50);
}

#optiontwo {
	background-color: rgba(181,181,181,0.40);
}

@media (max-width: 390px) {
	#optionone, #optiontwo {
		flex-direction: column;
		width: 50vw;
		height: 100vh;
		margin-top: 30vh;
	}
	
	.flexcontainerone {
		display: flex;
		width: 100vw;
		height: 100vh;
	}
	
	#logosize {
		width: 200px;
		margin-top: 40px;
	}
	
	.logo {
		width: 100vw;
		height: 30vh;
		background: rgba(200,200,200,0.50);
	}
	
	.social {
		width: 130px;
		margin-top: 25vh;
	}
}

@media (min-width: 390px) {
	#optionone, #optiontwo {
		flex-direction: column;
		width: 50vw;
		height: 100vh;
		margin-top: 30vh;
	}
	
	.flexcontainerone {
		display: flex;
		width: 100vw;
		height: 100vh;
	}
	
	#logosize {
		width: 200px;
		margin-top: 40px;
	}
	
	.logo {
		top: 0;
		width: 100vw;
		height: 30vh;
		background: rgba(200,200,200,0.50);
	}
	
	.social {
		width: 130px;
		margin-top: 25vh;
	}
	
	.heading {
		text-align: center;
		
	}
}

@media (min-width: 1024px) {
	
}

@media (min-width: 1400px) {

}

@media (min-width: 2140px) {

}

