@charset "UTF-8";
/* CSS Document */

* {
	font-family: 'Patua One', cursive;	
	text-align: center;
}

body {
	margin: 0;
}

a {
	cursor: pointer;
	color: black;
	text-decoration: none;
}

.section {
	background-image:url("../images/backgroundtwo.png");
	background-size: cover;
}

.logo {
	background: rgba(200,200,200,0.50);
    position: absolute; 
}

.social {
	align-self: center;
	width: 200px;
}

.optionone {
	background-color: rgba(219,219,219,0.50);
}

.optiontwo {
	background-color: rgba(181,181,181,0.40);
}

.logo {
    position: absolute; 
}

.flexcontainerstart {
	display: flex;
}
	
.flexcontainerone {
	display: flex;
}

#optiononepagethree {
	background-color: rgba(219,219,219,0.50);
}

#optiontwopagethree {
	background-color: rgba(181,181,181,0.40);
}

#logopagethree {
	background-color: rgba(181,181,181,0.40);
}

.optiononelvltwo {
	background-color: rgba(181,181,181,0.40);
}

.flexcontainertwo {
	display: flex;
}

.energione {
	transform: rotate(-90deg);
	max-width: 100%;
    position: relative;
}

@media only screen and (max-width: 390px) {
	
	.flexcontainerstart {
		width: 100vw;
		height: 100vh;
	}
	
	.flexcontainerone {
		display: flex;
		width: 100vw;
		height: 100vh;
	}
	
	.optionone, .optiontwo {
		flex-direction: column;
		width: 50vw;
		height: 70vh;
		margin-top: 30vh;
	}
	
	.logosize {
		width: 200px;
		margin-top: 40px;
	}
	
	.logo {
		width: 100vw;
		height: 30vh;
		background: rgba(200,200,200,0.50);
	}
	
	.social {
		width: 130px;
		margin-top: 25vh;
	}
	
	.optiononelvltwo {
		width: 100vw;
		height: 100vh;
	}
	
	#logopagethree {
		width: 100vw;
		height: 30vh;
	}
	
	#optiononepagethree {
		width: 100vw;
		height: 70vh;
	} 
	
	.energy, .someopslag {
		height: 100vw;
		text-align: center;
		margin-top: 35vh;
	}
	
@media only screen and (min-width: 390px) {
	
}

@media (min-width: 1024px) {
	
}

@media (min-width: 1400px) {

}

@media (min-width: 2140px) {

}

