@charset "UTF-8";
/* CSS Document */

* {
	font-family: 'Merriweather', serif;
	text-align: center;
}

body {
	margin: 0;
}

.button {
	display: none;
}

.section {
	background-image:url("../images/backgroundtwo.png");
	background-size: cover;
}


.flexcontainerone {
	display: flex;
	width: 100vw;
	height: 100vh;
}

.logo {
    position: absolute; 
	top: 0;
	left: 50%;
	transform: translate(-50%, 0);
}

.social {
	align-self: center;
	width: 200px;
}

#optionone {
	width: 50vw;
	height: 100vh;
	background-color: rgba(219,219,219,0.50);
}

#optiontwo {
	width: 50vw;
	height: 100vh;
	background-color: rgba(181,181,181,0.40);
}

#indhold {
	border-radius: 0 0 20px 20px;
	box-shadow: 0 0 30px 0 black;
	background-color: white;
	position: absolute;
	width: 100%;
	padding-top: 0;
	margin-top: 0;
}

@media (min-width: 480px) {

}

@media (min-width:700px) {

}

@media (min-width: 1024px) {

}

@media (min-width: 1200px) {

}

@media (min-width: 1400px) {

}

@media (min-width: 2140px) {

}

